<!DOCTYPE html>
<html lang="en">

  <head>

    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">

    <title>Benjamin Bearce</title>

    <!-- Bootstrap core CSS -->
    <link href="../static/vendor/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom fonts for this template -->
    <link href="https://fonts.googleapis.com/css?family=Saira+Extra+Condensed:100,200,300,400,500,600,700,800,900" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Open+Sans:300,300i,400,400i,600,600i,700,700i,800,800i" rel="stylesheet">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.13/css/all.css" integrity="sha384-DNOHZ68U8hZfKXOrtjWvjxusGo9WQnrNx2sqG0tfsghAvtVlRW3tvkXWZh58N9jp" crossorigin="anonymous">
    <link href="../static/vendor/font-awesome/css/font-awesome.min.css" rel="stylesheet">
    <link href="../static/vendor/devicons/css/devicons.min.css" rel="stylesheet">
    <link href="../static/vendor/simple-line-icons/css/simple-line-icons.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="../static/css/resume.css" rel="stylesheet">

    <!-- Chart JS -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>

    <!-- Dev Icons -->
    <link rel="stylesheet" href="https://cdn.rawgit.com/konpa/devicon/df6431e323547add1b4cf45992913f15286456d3/devicon.min.css">


  </head>

  <body id="page-top">

    <nav class="navbar navbar-expand-lg navbar-dark bg-primary fixed-top" id="sideNav">
      <a class="navbar-brand js-scroll-trigger" href="#page-top">
        <span class="d-block d-lg-none" style="color: #343a40;">Full Stack Web Developer</span>
        <span class="d-none d-lg-block">
          <img class="img-fluid img-profile rounded-circle mx-auto mb-2" src="../static/img/profile.jpg" alt="">
        </span>
      </a>
      <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
      </button>
      <div class="collapse navbar-collapse" id="navbarSupportedContent">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#about"><span class="nav-hover">About</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#skills"><span class="nav-hover">Skills</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#experience"><span class="nav-hover">Experience</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#education"><span class="nav-hover">Education</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="https://bbearce.github.io/"><span class="nav-hover">Code Journal</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#projects"><span class="nav-hover">Projects</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="static/BenBearce_Resume.pdf"><span class="nav-hover">Resume</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#interests"><span class="nav-hover">Interests</span></a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll-trigger" href="#awards"><span class="nav-hover">Certifications</span></a>
          </li>
        </ul>
      </div>
    </nav>

    <div class="container-fluid p-0">

      <section class="resume-section p-3 p-lg-5 d-flex d-column" id="about">
        <div class="my-auto">
          <h1 class="mb-0">Benjamin <span class="text-primary">Bearce</span></h1>
          <div class="subheading mb-5">23 Aldie Street · Allston, MA 02134 · (832) 434-3006 ·
            <a href="mailto:name@email.com">bbearce@gmail.com</a>
          </div>
          <!--<p class="mb-5" style="display: block;">Seeking the position of a full stack web developer.</p>-->
          <p>Turning specialized knowledge into tools that enrich the human experience is my passion. I want to make it easier for others to access information while automating complex decisions.</p>
          <ul class="list-inline list-social-icons mb-0">
            <li class="list-inline-item">
              <a href="https://www.facebook.com/ben.bearce.9">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-facebook fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://www.linkedin.com/in/benjamin-bearce-12aa6b48/">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-linkedin fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
            <li class="list-inline-item">
              <a href="https://github.com/bbearce">
                <span class="fa-stack fa-lg">
                  <i class="fa fa-circle fa-stack-2x"></i>
                  <i class="fa fa-github fa-stack-1x fa-inverse"></i>
                </span>
              </a>
            </li>
          </ul>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="skills">
        <div class="my-auto">
          <h2 class="mb-5">Skills</h2>
            <div class="subheading mb-3">Programming Languages &amp; Tools</div>
            
            <!-- This link has a cheat sheet for the icons -->
            <!-- http://vorillaz.github.io/devicons/#/cheat -->

            <ul class="list-inline list-icons">
              
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.python.org/"><i class="devicon-python-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.r-project.org/"><i class="fab fa-r-project"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.postgresql.org/"><i class="devicon-postgresql-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.w3schools.com/html/html5_intro.asp"><i class="devicons devicons-html5"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.w3schools.com/css/"><i class="devicons devicons-css3"></i></a>
              </li>
              <li class="list-inline-item">
                  <a style="text-decoration: none" href="https://www.w3schools.com/js/"><i class="devicons devicons-javascript"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://jquery.com/"><i class="devicons devicons-jquery"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://getbootstrap.com/"><i class="devicons devicons-bootstrap"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://github.com/"><i class="devicon-git-plain"></i></a>
              </li>


            <br>

              <div class="subheading mb-3">Platforms</div>

              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.heroku.com/home"><i class="devicon-heroku-original"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://aws.amazon.com/"><i class="devicons devicons-aws"></i></a>
              </li>

              <div class="subheading mb-3">Operating Systems</div>

              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.ubuntu.com/"><i class="devicon-ubuntu-plain"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.apple.com/"><i class="devicon-apple-original"></i></a>
              </li>
              <li class="list-inline-item">
                <a style="text-decoration: none" href="https://www.microsoft.com/en-us/windows"><i class="devicon-windows8-original"></i></a>
              </li>

            </ul> 
            
          
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="experience">
        <div class="my-auto">
          <h2 class="mb-5">Experience</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
              <div class="resume-content mr-auto">
                <h3 class="mb-0">Programmer Analyst</h3>
                <div class="subheading mb-3"><a href="https://qtim-lab.github.io/">The Quantitative Translational Imaging in Medicine Lab at the Martinos Center</a></div>
                <ul>
                  <li>Managing online machine learning competitions hosted by the lab.</li>
                  <br>
                  <li>Building software to extend research tools to clinical users.</li>
                  <br>
                  <li>Create public-facing web-tools to exhibit our imaging research.</li>
                  <br>
                  <li>Point person for information technology and web development in the lab.</li>
                  <br>
                  <li>Managemulti-server GPU clusters and data storage devices.</li>  
                  <br>
                  <li>Help members of our lab successfully use and maintain organization on these servers.</li>  
                </ul>
              </div>
              <div class="resume-date text-md-right">
                <span class="text-primary">May 2019 - Present</span>
              </div>
            </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Senior Core Quality Assurance Engineer I</h3>
              <div class="subheading mb-3"><a href="http://www.air-worldwide.com/">Air-Worldwide</a></div>
              <ul>
                <li>Mastery of core product functionality and point person for financial related inquiries.</li>
                <br>
                <li>Demonstrated technical proficiency related to automating core qa processes.</li>
                <br>
                <li>Help developers with data pipeline tools for core database configurations.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">March 2019 - May 2019</span>
            </div>
          </div>
          
          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Core Quality Assurance Engineer III</h3>
              <div class="subheading mb-3"><a href="http://www.air-worldwide.com/">Air-Worldwide</a></div>
              <ul>
                <li>Created Rmarkdown reports documenting the testing of our industry loss files. Our research team creates data files detailing catastrophe characteristics in 10,000 year monte carlo simulations. With these reports, I was able to simultaneously automate our model testing, saving 1/3 of the time, while documenting it with HTML and BOOTSTRAP. This ultimately increased transparency of our model validation to our clients.</li>
                <br>
                <li>Created a novel algorithm in SQL to validate our reinsurance product's financial engine. Previously, validation using scripting languages (R\Python) took hours to calculate the same logic as the underlying C++ engine. Utilizing set based logic in SQL instead of loops and cursors, I was able to turn a large analysis taking 30 to 60 minutes, into one that lasts approximately 1 minute.</li>
                <br>
                <li>Developed python scripts to process model data into statistical reports. This involved melting and pivot table manipulation of data and sped up the creation of these reports by 50-100%. The larger the export, the more time saved. Previously this was done by hand in excel and took hours of work.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Software Quality Assurance Engineer II</h3>
              <div class="subheading mb-3"><a href="http://www.air-worldwide.com/">Air-Worldwide</a></div>
              <ul>
                <li>Learned R and automated the creation of large scale exposure data for use in regression test cases. This eliminated the need to create the data in excel by hand.</li>
                <br>
                <li>Utilized Silk Test automation framework for regression test execution. Owned the creation of new test plans for new features as they were developed, and implemented them in Silk Test.</li>
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">May 2013 - May 2015</span>
            </div>
          </div>


        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="education">
        <div class="my-auto">
          <h2 class="mb-5">Education</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Boston University</h3>
              <div class="subheading mb-3">Masters of Electrical and Electronics Engineering</div>
              <div>Photonics and Material Science</div>
              <p>GPA: 3.4</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">January 2012 - April 2013</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">West Virginia University</h3>
              <div class="subheading mb-3">Bachelors of Science in Electrical Engineering</div>
              <div>Electromagnetism and Quantum Mechanics</div>
              <p>GPA: 3.5</p>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">August 2007 - December 2011</span>
            </div>
          </div>

        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="projects">
        <div class="my-auto">
          <h2 class="mb-5">Projects</h2>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="http://www.thegratefulbrauer.com/brewculator">Brewculator</a></h3>
              <div class="subheading mb-3">Personal Hombrew Recipe Builder</div>
              <ul>
                <img src="/static/img/flask_130_130.png"><img src="/static/img/python_130_130.png"><img src="/static/img/postgresql_130_130.png"><img src="/static/img/html-css-js-390_130.png">
                <br><br><br>
                <p>This is a passion project of mine. A couple years ago my buddy <a href="https://www.facebook.com/kschluns">Kyle Schluns</a> and I started brewing our own beer recipes.
                   We would use excel spreadsheets, and still sometimes do, to track our recipes and to calculate our ingredient quantities. 
                   I first built this very same app in R and it's 2 projects down(R Brew App) on this site.
                   I then moved to <a href="https://rmarkdown.rstudio.com/">Rmd</a> documents, with all the calculations baked into the code. 
                   This is represented by the site in the below project (The Grateful Brauer). 
                   Each detailed recipe under the Ales and Lagers tab is an <a href="https://rmarkdown.rstudio.com/">Rmd</a> rendered page.
                   This allows for a forum like post that we can use for doing a brain dump when researching a beer. 
                   The project on display here however, is my full stack solution. This is a <a href="http://flask.pocoo.org/">Flask</a> 
                   app composed of <a href="https://www.python.org/">python</a>, <a href="https://www.postgresql.org/">postgres</a>, 
                   <a href="https://www.w3schools.com/html/">html</a>, <a href="https://www.w3schools.com/css/default.asp">css</a>, and 
                   <a href="https://www.w3schools.com/js/default.asp">javascript</a> and utilizes 
                   <a href="https://www.w3schools.com/xml/ajax_intro.asp">AJAX</a> calls for saving, loading, and deleting recipes. 
                   This is awesome, because it means we don't have to refresh the page and lose our progress when we save a recipe. It uses a couple of javascript packages for charts
                   from <a href="https://www.chartjs.org/">chartjs</a> and a little <a href="">jQuery</a>. 

                </p>

                <br>
                <p>Brewculator Preview Below:</p>
                <iframe src="https://thegratefulbrauer.herokuapp.com/brewculator" width="400" height="300">
                <p>Your browser does not support iframes.</p>
                </iframe>
              
              </ul>
            </div>

            <div class="resume-date text-md-right">
              <span class="text-primary">Oct 2018 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="https://thegratefulbrauer.herokuapp.com/">The Grateful Brauer</a></h3>
              <div class="subheading mb-3">Personal Hombrew Website</div>
              <ul>
                <img src="/static/img/flask_130_130.png"><img src="/static/img/python_130_130.png"><img src="/static/img/postgresql_130_130.png"><img src="/static/img/bootstrap_130_130.jpg"><img src="/static/img/rmd_130_130.png">
                <br><br><br>
                <p>In 2014 <a href="https://www.facebook.com/kschluns">Kyle Schluns</a> and I started brewing together. 
                I put together this website to track our methodology. It features <a href="https://rmarkdown.rstudio.com/">Rmd</a> pages for each recipe so that we can
                describe our process and document as we go. It also features a <a href="https://www.postgresql.org/">postgres</a> database to store fundamental characteristics
                about our beer recipes. This is created with <a href="http://flask.pocoo.org/">Flask</a> as the web server
                and is hosted on <a href="https://signup.heroku.com/?c=70130000001xDpdAAE&gclid=CjwKCAjwxZnYBRAVEiwANMTRX4FXSlQ6RPI46LRXOyW-jakDHB-y0w6svdOrICCNjUB3wsFgfmLGiBoCPzQQAvD_BwE">Heroku</a>.</p>

                <br>
                <p>The Grateful Brauer Preview Below:</p>
                <iframe src="https://thegratefulbrauer.herokuapp.com/" width="400" height="300">
                <p>Your browser does not support iframes.</p>
                </iframe>
              
              </ul>
            </div>

            <div class="resume-date text-md-right">
              <span class="text-primary">Sept 2017 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="https://bbearce.shinyapps.io/bkbrew_newui/">R Brew App</a></h3>
              <div class="subheading mb-3">Design and Save Your Own Recipe</div>
              <ul>
                <img src="/static/img/r_icon_130_130.png"><img src="/static/img/sqlite_130_130.png"><img src="/static/img/rmd_130_130.png">
                <br><br><br>
                <p>When trying to design a beer recipe, there are many things that need to be considered and calculated. Previously my partner and I would use excel to do our calculations, but the equations are quite complex. We were using an <a href="https://drive.google.com/drive/u/0/folders/0B-9BMe0xDqppODg1NjVjM2QtNjBjMC00YmM5LTgzN2UtYmNhYzk0ZTg0YWNm">excel</a> template called Brew Cipher and it works quite well. The only problem was each recipe was a separate excel file, and if we wanted to customize any of our own math or add pieces to the equations, deciphering all the formulas was a challenge. We needed a solution that would allow us to save and load recipes and calculate exactly what we wanted. I transcribed all of the equations in Brew Cipher and tweaked what we needed to suit our needs. We now have a brewing application that can track and calculate what we need in order to make the beer we wish to make.</p>

                <iframe src="https://bbearce.shinyapps.io/bkbrew_newui/" width="400" height="300">
                <p>Your browser does not support iframes.</p>
                </iframe>

              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0">Word Press</h3>
              <div class="subheading mb-3">Old Personal Site</div>
              <ul>
                <img src="/static/img/wordpress_130_130.png">
                <br><br><br>
                <p>Originally I wanted to have my profile site on <a href="https://wordpress.com/">WordPress</a>. I wanted to prove that I could use WordPress in case I needed to work on someone's site, and that I had experience working with it. It turns out, I couldn't resist remaking my profile using only <a href="https://getbootstrap.com/">bootstrap</a> for help, and a little <a href="http://www.chartjs.org/docs/latest/">Chart.js</a>. The rest is raw <a href="http://flask.pocoo.org/">Flask</a>. I thought it would be important to represent my fresh start in technical computing and web development by demonstrating yet again another successful project; an up to date resume to catalog my accomplishments and skills since my academic career. Below is my old profile in WordPress, I hope you enjoy this one as well as my old one.</p>


                <div class="videoWrapper">
                <video width="500" height="300" controls>
                <source src="/static/vid/wordpress_site.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
                </video>
                </div>
                <br><br><br>

                
              
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - Present</span>
            </div>
          </div>

          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="https://www.jessiewright.com/">Jessica Wright</a></h3>
              <div class="subheading mb-3">Area Director for San Diego Real Producers</div>
              <div class="subheading mb-3">WIX Website Builder Example</div>
              <ul>
                <img src="static/img/wix_130_130.png">
                <br><br><br>
                <p>Jessie was the face of quality services and products offered by the top rated branding company, <a href="https://www.cutco.com/">CUTCO</a>. Jessie grew up in West Virginia and attended West Virginia University and was the leading consultant in the New England region and Boston. She now lives in San Diego, CA where she is the area director for San Diego Real Producers along with writing her new book.</p>

                <div class="videoWrapper">
                <video width="500" height="300" controls>
                <source src="/static/vid/jessie_wright.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
                </video>
                </div>
                <br><br><br>
                <!--
                <a href="https://www.jessiewright.com/"><img src="static/img/jessie_wright.png" class="rbrew_responsive"></a>
                -->
                
              
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - Present</span>
            </div>
          </div>


          <div class="resume-item d-flex flex-column flex-md-row mb-5">
            <div class="resume-content mr-auto">
              <h3 class="mb-0"><a href="https://bbearce.wixsite.com/revgromarketing">Sharissa Sosa</a></h3>
              <div class="subheading mb-3">Life Coach</div>
              <div class="subheading mb-3">WIX Website Builder Example</div>
              <ul>
                <img src="static/img/wix_130_130.png">
                <br><br><br>
                <p>Sharissa Sosa is known for being a life coach, having a brilliant personality and she is a former saleswoman for CUTCO cutlery.</p>

                <div class="videoWrapper">
                <video width="500" height="300" controls>
                <source src="/static/vid/sharissa_sosa.mp4" type="video/mp4">
                <source src="movie.ogg" type="video/ogg">
                Your browser does not support the video tag.
                </video>
                </div>
                <br><br><br>
                <!--
                <a href="https://bbearce.wixsite.com/revgromarketing"><img src="static/img/jessie_wright.png" class="rbrew_responsive"></a>
                -->
                
              
              </ul>
            </div>
            <div class="resume-date text-md-right">
              <span class="text-primary">June 2015 - Present</span>
            </div>
          </div>


        </div>

      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="interests">
        <div class="my-auto">
          <h2 class="mb-5">Interests</h2>
          <p>Apart from being a web developer, I enjoy socializing with friends and cooking. During the warmer months I rock climb outside and travel to meet friends.</p>
          
          <p>In the winter months I spend more time in Boston at local breweries and <a href="https://brooklynboulders.com/somerville/?gclid=Cj0KCQjwuuHdBRCvARIsAELQRQFJu4SX_pS4kgKwNQHBKihiTNYGUuLq-0j-g7wW0bDs2pVe_OiDMIoaAjFlEALw_wcB">Brooklyn Boulders</a>, an indoor rock gym.</p>
          
          <p>PS:If you like coffee, we have much to discuss. ;)</p>
        </div>
      </section>

      <section class="resume-section p-3 p-lg-5 d-flex flex-column" id="awards">
        <div class="my-auto">
          <h2 class="mb-5">Certifications</h2>
          <ul class="fa-ul mb-0">
            
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="https://www.coursera.org/specializations/google-it-support/?utm_source=googleit&utm_medium=institutions&utm_campaign=sem&utm_term=coursera&utm_content=us-en-sem-brand&gclid=Cj0KCQjwuuHdBRCvARIsAELQRQG5LQuHqciOnD3G5l4A9jxvNy0os9PBlp802dO5nnKx5Ttql-3vz-EaAjCXEALw_wcB">COURSERA</a>
              <br>
              University of Michigan
              <br>
              <a href="https://www.coursera.org/specializations/web-design">Web Design for Everybody (Basics of Web Development and Coding)</a>
            </li>
            <br>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="https://www.coursera.org/specializations/google-it-support/?utm_source=googleit&utm_medium=institutions&utm_campaign=sem&utm_term=coursera&utm_content=us-en-sem-brand&gclid=Cj0KCQjwuuHdBRCvARIsAELQRQG5LQuHqciOnD3G5l4A9jxvNy0os9PBlp802dO5nnKx5Ttql-3vz-EaAjCXEALw_wcB">COURSERA</a>
              <br>
              John Hopkins University
              <br>
             <a href="https://www.coursera.org/specializations/jhu-data-science">Data Science</a>
            </li>
            <br>
            <li>
              <i class="fa-li fa fa-trophy text-warning"></i>
              <a href="https://learn.pluralsight.com/programs/pluralsight?gclid=Cj0KCQjwuuHdBRCvARIsAELQRQE9TLvcqPOjwlywx7DwYQrWEXbqk1Wo_MKus1r91LXtwIsXv6JGeWcaAlEkEALw_wcB&utm_term=&aid=701j0000002BGi5AAG&promo=&oid=&utm_source=branded&utm_medium=digital_paid_search_google&utm_campaign=US_Brand_P&utm_content=&s_kwcid=AL!5668!3!240723641937!p!!g!!pluralsights&ef_id=WrfxkwAAAFl_LnA-:20181006205029:s">Pluralsight</a>
              <br>
              Austin Bingham &amp  Robert Smallshire
              <br>
              <a href="https://www.pluralsight.com/courses/python-getting-started">Python: Getting Started</a>
              <br>
              <a href="https://www.pluralsight.com/courses/python-fundamentals">Python Fundamentals</a>
            
            </li>

          </ul>
        </div>
      </section>

    </div>

    <!-- Bootstrap core JavaScript -->
    <script src="../static/vendor/jquery/jquery.min.js"></script>
    <script src="../static/vendor/bootstrap/js/bootstrap.bundle.min.js"></script>

    <!-- Plugin JavaScript -->
    <script src="../static/vendor/jquery-easing/jquery.easing.min.js"></script>

    <!-- Custom scripts for this template -->
    <script src="../static/js/resume.min.js"></script>

    
    
  </body>

</html>
